.homepageRepos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    padding: 30px;
}

    
.view {
  text-align: center;
  color:white;
  margin-bottom: 2px;
  margin-bottom: 70px;
}
